<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wordpress</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <style>
        body {
            font-family: "Noto Sans", Helvetica, Arial, sans-serif;
        }

        .bg-blue {
            background-color: #006088;
        }

        .bg-black {
            background-color: #1a1b1b;
        }

        .box-60{
            height: 60vh;
        }
        .box-100{
            height: 100vh;
        }
    </style>

</head>

<body>
    <!-- Barra de Navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <a class="navbar-brand" href="#">
            <img src="./img/1280px-WordPress_logo.svg.png" height="30" class="d-inline-block align-top" alt="Wordpress">
        </a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Herramientas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Recursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Planes y Precios</a>
                </li>
            </ul>
            <ul class="navbar-nav align-top">
                <li class="nav-item">
                    <a class="nav-link" href="#">Acceder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Empieza Ahora</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- First BigBox -->
    <main class="container-fluid bg-blue box-60">
        <div class="row ">
            <div class="col-6 text-center align-middle align-self-center">
                <h1 class="col-12"> El 34% de Internet utiliza WordPress. </h1>
                <h2 class="col-12"> WordPress.com ofrece la mejor experiencia. Empieza a crear tu sitio hoy mismo. </h2>
                <button type="button" class="btn btn-primary col-8 mt-5">Primary</button>
            </div>
            <div class="col-6 text-center align-self-center">
                <img class="img-fluid mx-auto d-block" src="img/headline-circle.jpg" alt="MujerCirculad">
            </div>
        </div>
    </main>
    <!-- Second BigBox -->
    <main class="container-fluid bg-black box-100">
        <!-- TITULO -->
        <div class="row col-12 text-center">
            <h1 class="col-12 mt-5">¿Qué puedes hacer con WordPress.com?</h1>
        </div>
        <!-- SUBTITULO -->
        <div class="row justify-content-center text-center">
            <h3 class="col-8  mt-5"> WordPress.com te da todo lo que necesitas para crear lo que tú quieras. Es flexible,
                seguro, versátil y eficiente exactamente lo que quieres para tu negocio. </h3>
        </div>
        <!-- ROW 1 -->
        <div class="row justify-content-center text-center  mt-5">
            <!-- CARTA 1 -->
            <div class="card col-3 m-2" style="width: 18rem;">
                <div id="lpc-gridicon" class="lpc lpc-gridicon lpc-feature-icon"
                    style="color: #fff; background-color: #204A69">
                    <svg class="gridicon gridicons-heart" height="24" width="24" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M16.5 3c-1.862 0-3.505.928-4.5 2.344C11.005 3.928 9.362 3 7.5 3 4.462 3 2 5.462 2 8.5c0 5.72 6.5 10.438 10 12.85 3.5-2.412 10-7.13 10-12.85C22 5.462 19.538 3 16.5 3z">
                            </path>
                        </g>
                    </svg> </div>
                <div class="card-body">
                    <h5 class="card-title">Llega a tu público. </h5>
                    <p class="card-text">Haz que crezca tu negocio promocionando tus productos, usando estadísticas
                        avanzadas y herramientas de posicionamiento SEO o conectando con tu público en las redes
                        sociales. </p>
                </div>
            </div>
            <!-- CARTA 2 -->
            <div class="card col-3 m-2" style="width: 18rem;">
                <div id="lpc-gridicon.2" class="lpc lpc-gridicon lpc-feature-icon"
                    style="color: #fff; background-color: #204A69">
                    <svg class="gridicon gridicons-cart" height="24" width="24" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M9 20c0 1.1-.9 2-2 2s-1.99-.9-1.99-2S5.9 18 7 18s2 .9 2 2zm8-2c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm.396-5c.937 0 1.75-.65 1.952-1.566L21 5H7V4c0-1.105-.895-2-2-2H3v2h2v11c0 1.105.895 2 2 2h12c0-1.105-.895-2-2-2H7v-2h10.396z">
                            </path>
                        </g>
                    </svg> </div>
                <div class="card-body">
                    <h5 class="card-title">Abre una tienda online.</h5>
                    <p class="card-text">Procesa pagos, configura envíos e impuestos, crea un plan de marketing: tú
                        añades los widgets y nosotros creamos la página web. </p>
                </div>
            </div>
        </div>
        <!-- ROW 2 -->
        <div class="row justify-content-center text-center">
            <!-- CARTA 3 -->
            <div class="card col-12 col-md-3 m-2" style="width: 18rem;">
                <div id="lpc-gridicon.3" class="lpc lpc-gridicon lpc-feature-icon"
                    style="color: #fff; background-color: #204A69">
                    <svg class="gridicon gridicons-reader" height="24" width="24" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M3 4v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4H3zm7 11H5v-1h5v1zm2-2H5v-1h7v1zm0-2H5v-1h7v1zm7 4h-5v-5h5v5zm0-7H5V6h14v2z">
                            </path>
                        </g>
                    </svg> </div>
                <div class="card-body">
                    <h5 class="card-title">Empieza tu blog. </h5>
                    <p class="card-text">Todos tenemos una historia que contar. Crea tu blog con la mayor plataforma de
                        creación de blogs del mundo y deja tu huella en internet. Millones de personas de nuestra
                        comunidad están esperándote para escuchar todo lo que tienes que decir. Únete a la comunidad.
                    </p>
                </div>
            </div>
            <!-- CARTA 4 -->
            <div class="card col-3 m-2" style="width: 18rem;">
                <div id="lpc-gridicon.4" class="lpc lpc-gridicon lpc-feature-icon"
                    style="color: #fff; background-color: #204A69">
                    <svg class="gridicon gridicons-layout" height="24" width="24" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M8 20H5c-1.105 0-2-.895-2-2V6c0-1.105.895-2 2-2h3c1.105 0 2 .895 2 2v12c0 1.105-.895 2-2 2zm8-10h4c1.105 0 2-.895 2-2V5c0-1.105-.895-2-2-2h-4c-1.105 0-2 .895-2 2v3c0 1.105.895 2 2 2zm5 10v-6c0-1.105-.895-2-2-2h-5c-1.105 0-2 .895-2 2v6c0 1.105.895 2 2 2h5c1.105 0 2-.895 2-2z">
                            </path>
                        </g>
                    </svg> </div>
                <div class="card-body">
                    <h5 class="card-title">Diseña un portafolio. </h5>
                    <p class="card-text">Encuentra el diseño ideal para tu página web entre los miles de temas que hay
                        disponibles, y disfruta de opciones de diseño y almacenamiento que te permitirán subir todo lo
                        que necesitas para exhibir tu trabajo de la manera que te mereces. </p>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div class="row col-12 justify-content-center text-center mt-5">
            <h1 class="col-5">Empezar a usarlo es fácil </h1>
        </div>
        <div class="row col-12 justify-content-center text-center">
            <button type="button" class="btn btn-primary col-8 mt-5">Primary</button>
        </div>
    </main>

</body>

</html>